<Formidable @handler={{this.logData}} @validator={{this.validator}} as |api|>
  <div class="isolate bg-secondary i-background px-6 py-24 sm:py-32 lg:px-8">
    <div
      class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"
      aria-hidden="true"
    >
    </div>
    <div class="md:flex gap-10 place-content-center mx-auto">
      <div>
        <div class="max-w-2xl text-center border-b border-accent pb-5 sm:pb-10">
          <Header>Add a talk</Header>
          <Subheader class="mt-3">Want to raise your voice in front of the audience? Add your infos
            here!</Subheader>
        </div>
        <form class="mt-16 max-w-xl sm:mt-20" {{on "submit" api.onSubmit}}>
          <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
            <div class="sm:col-span-2">
              <SectionTitle>General informations</SectionTitle>
            </div>
            <div>
              <F::Input
                @id="first-name"
                @label="First name"
                autocomplete="given-name"
                type="text"
                @errors={{api.getError "firstName"}}
                {{api.register "firstName"}}
              />
            </div>
            <div>
              <F::Input
                @id="last-name"
                @label="Last name"
                autocomplete="family-name"
                type="text"
                @errors={{api.getError "lastName"}}
                {{api.register "lastName"}}
              />
            </div>
            <div class="sm:col-span-2">
              <F::Input
                @id="company"
                @label="Company"
                autocomplete="organization"
                type="text"
                {{api.register "company"}}
              />
            </div>
            <div class="sm:col-span-2">
              <F::Input
                @id="email"
                @label="Email"
                autocomplete="organization"
                type="email"
                @errors={{api.getError "email"}}
                {{api.register "email"}}
              />
            </div>
            <div class="sm:col-span-2">
              <Label for="phone-number">Phone number</Label>
              <div class="relative mt-2.5">
                <div class="absolute inset-y-0 left-0 flex items-center">
                  <F::Select
                    @id="country"
                    @options={{array
                      (hash value="" label="+??")
                      (hash value="ES" label="🇪🇸 +34")
                      (hash value="FR" label="🇫🇷 +33")
                      (hash value="US" label="🇺🇸 +1")
                    }}
                    name="phone.country"
                    {{api.register}}
                  />
                  <svg
                    class="pointer-events-none absolute right-3 top-0 h-full w-5 text-gray-400"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </div>
                <F::Input
                  type="tel"
                  @id="phone-number"
                  autocomplete="tel"
                  class="block w-full border-0 px-3.5 py-2 pl-28"
                  name="phone.number"
                  {{api.register}}
                />

              </div>
              <ErrorMessage @errors={{api.getError "phone.number"}} />
              <ErrorMessage @errors={{api.getError "phone.country"}} />
            </div>
            <div class="sm:col-span-2">
              <F::Input
                @id="birthday"
                @label="Birthday"
                autocomplete="bday"
                type="date"
                @errors={{api.getError "birthday"}}
                {{api.register "birthday"}}
              />
            </div>
          </div>
          <div
            class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2 border-t border-accent pt-10 mt-10 sm:pt-10"
          >
            <SectionTitle>Your talk</SectionTitle>
            <div class="sm:col-span-2">

              <F::Input
                @label="Talk title"
                @id="talk-title"
                @errors={{api.getError "talk.title"}}
                {{api.register "talk.title"}}
              />
            </div>
            <div class="sm:col-span-2">
              <F::Textarea
                @id="talk-description"
                @label="Talk description"
                @errors={{api.getError "talk.description"}}
                {{api.register "talk.description"}}
              />
            </div>
            <F::Toggle
              @toggled={{api.getValue "agreed"}}
              {{! @glint-expect-error: No types yet }}
              @onToggle={{queue
                (fn api.setValue "agreed")
                (if api.isSubmitted (fn api.validate "agreed"))
              }}
              @errors={{api.getError "agreed"}}
            >
              <:label>
                By selecting this, you agree to our
                <a href="#" class="font-semibold text-primary">privacy&nbsp;policy</a>.
              </:label>
            </F::Toggle>
            <div class="sm:col-span-2">
              <F::Fieldset @legend="Select your reviewers!" @errors={{api.getError "reviewers"}}>
                <F::Checkbox
                  @id="joschka"
                  @label="Joschka"
                  @avatar="https://avatars.githubusercontent.com/u/1042339?v=4"
                  {{api.register "reviewers"}}
                  value="joschka"
                />
                <F::Checkbox
                  @id="balint"
                  @label="Balint"
                  @avatar="https://balinterdi.com/images/avatar-balint-300x275-gray.jpg"
                  {{api.register "reviewers"}}
                  value="balint"
                />
                <F::Checkbox
                  @id="marco"
                  @label="Marco"
                  @avatar="https://emberfest.eu/images/speakers/marcoow.jpg"
                  {{api.register "reviewers"}}
                  value="marco"
                />
              </F::Fieldset>
            </div>
          </div>
          <div class="mt-10">
            <Button type="submit">
              Send the talk!
            </Button>
          </div>
        </form>
      </div>
      <div class="max-w-2xl w-full mt-16 md:mt-0">
        <div class="max-w-2xl text-center border-b border-accent pb-5 sm:pb-10">
          <Header>Submitted result</Header>
          <Subheader class="mt-3">{{if
              this.updatedData
              "Congratulations! You've succeeded to fill your
            form 😄"
              "Submit proper data to see the results!"
            }}
          </Subheader>
        </div>
        {{#if this.updatedData}}
          <div class="mt-16 max-w-xl sm:mt-20">
            <CodeBlock @code={{this.updatedData}} @language="json5" @theme="vitesse-dark" />
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</Formidable>